<!-- basic information flashcard -->
<form  [formGroup]="fcForm" (ngSubmit)="onSubmit()">
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
        <mat-card class="p-0">
            <mat-card-title class="">
                <div class="card-title-text">
                    <span>Basic Card</span>
                </div>
                <!-- <mat-divider></mat-divider> -->
                <span fxFlex></span>
                <button class="card-control"
                    mat-icon-button
                    (click)="changeView()"
                    type="button"
                >
                <mat-icon>{{cardViewStatus}}</mat-icon>
                </button>
            </mat-card-title>
            <mat-card-content *ngIf="isView">
                    <mat-form-field class="full-width">
                        <input
                        matInput
                        placeholder="Card Title"
                        formControlName="title"
                        type="text"
                        >
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <textarea
                        matInput 
                        matTextareaAutosize matAutosizeMinRows="2"
                        matAutosizeMaxRows="10"
                        placeholder="description"
                        formControlName="description"
                        ></textarea>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                                        [removable]="removable" (remove)="removeTag(tag)"
                                        selected="true"
                                        [style.background]="tag.color"
                                        >
                                {{tag.name}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="New Tag..."
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="addTag($event)"
                                    formControlName="tags"
                            />
                        </mat-chip-list>
                    </mat-form-field>
                    <small 
                    *ngIf="!addTagAble" 
                    class="form-error-msg"> max tags is 5 </small>
                    <mat-card class="category-img">
                        <mat-card-title>
                            <button 
                                mat-raised-button color="primary" class="mr-1"
                                [disableRipple]="true"
                                class="full-width"
                                type="button"
                                >
                                Add Image For Category
                            </button>
                        </mat-card-title>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" class="btn-upload-img">
                                            <button 
                                                mat-raised-button color="primary" class="mr-1"
                                                (click)="openDialogCat()"
                                                type="button"
                                                color="warn"
                                                >
                                                    By Search URL
                                            </button>
                                            <input
                                            id="upload_img"
                                            type="file"
                                            placeholder="upload image"
                                            (change)="handleFileInput($event.target.files)"
                                            visbility="hidden"
                                            >
                                    </div>
                                    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" class="btn-upload-img">
                                            <button 
                                                mat-raised-button color="primary" class="mr-1"
                                                (click)="openWindowImage()"
                                                type="button"
                                                color="warn"
                                                >
                                                    By Your Computer
                                            </button>
                                    </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
        </mat-card>
    </div>
    <!-- preview basic form -->
    <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50" *ngIf="isView">
        <fc-preview-basic 
            [data]="fcForm.value" 
            [tags]="tags"
            [currentImage]="currentImage"
            ></fc-preview-basic>
    </div>
</div>
<button
type="submit"
mat-raised-button color="primary">Save</button>
</form>
<!-- detail content flashcard -->
