<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Profile Views -->
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
        <form [formGroup]="basicForm">
            <mat-card  class="p-0">
                <mat-card-title class="flashcard-title">
                    <div class="card-title-text">Form validation </div>
                    <span fxFlex></span>
                    <button 
                        mat-icon-button
                        (click)="changeView()"
                    >
                        <mat-icon>{{cardViewStatus}}</mat-icon>
                    </button>
                </mat-card-title>
                <mat-card-content *ngIf="isView">
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex="100" fxFlex.gt-xs="30" class="pr-1" >
                                <div class="pb-1">
                                    <mat-form-field class="full-width">
                                        <input
                                        matInput
                                        name="username"
                                        formControlName="username"
                                        placeholder="Username (Min Length: 4, Max Length: 9)"
                                        value="">
                                    </mat-form-field>
                                    <small 
                                    *ngIf="basicForm.controls['username'].hasError('minlength') && basicForm.controls['username'].touched" 
                                    class="form-error-msg"> Username require at least {{basicForm.controls['username'].errors.minlength.requiredLength}} characters </small>
                                    <small 
                                    *ngIf="basicForm.controls['username'].hasError('maxlength') && basicForm.controls['username'].touched" 
                                    class="form-error-msg"> Username can not contain more than {{basicForm.controls['username'].errors.maxlength.requiredLength}} characters </small>
                                </div>
                            </div>
                            <div fxFlex="100" fxFlex.gt-xs="20" class="pr-1" >
                                <div class="pb-1">
                                    <mat-form-field class="full-width">
                                        <input
                                        matInput
                                        name="username"
                                        formControlName="username"
                                        placeholder="Username (Min Length: 4, Max Length: 9)"
                                        value="">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-select placeholder="Favorite food">
                                            <mat-option *ngFor="let imgViewSelect of imgViewSelects" [value]="imgViewSelect.value">
                                            {{ imgViewSelect.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1" >
                                <div class="pb-1">
                                    <mat-form-field class="full-width">
                                        <input
                                        matInput
                                        name="username"
                                        formControlName="username"
                                        placeholder="Username (Min Length: 4, Max Length: 9)"
                                        value="">
                                    </mat-form-field>
                                    <small 
                                    *ngIf="basicForm.controls['username'].hasError('minlength') && basicForm.controls['username'].touched" 
                                    class="form-error-msg"> Username require at least {{basicForm.controls['username'].errors.minlength.requiredLength}} characters </small>
                                    <small 
                                    *ngIf="basicForm.controls['username'].hasError('maxlength') && basicForm.controls['username'].touched" 
                                    class="form-error-msg"> Username can not contain more than {{basicForm.controls['username'].errors.maxlength.requiredLength}} characters </small>
                                </div>
                            </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
    <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
            <mat-card class="profile-sidebar mb-1 pb-0">
                    <div class="propic text-center">
                      <img src="assets/images/sq-face-220.jpg" alt="">
                    </div>
                    <div class="profile-title text-center mb-1">
                      <div class="main-title">Jhone <b>Doe</b></div>
                      <div class="subtitle mb-05">Big Data Expert</div>
                      <div class="text-muted">Hi I'm Jhone, sit amet consectetur adipisicing elit. Aperiam repellendus nam perspiciatis.</div>
                    </div>
                    <div class="profile-actions text-center mb-1">
                      <button mat-raised-button color="primary">Message</button>
                      <button mat-raised-button color="accent">Follow</button>
                    </div>
                    <div class="profile-nav">
                      <mat-nav-list>
                        <mat-list-item routerLink="/profile/overview" routerLinkActive="list-item-active">
                          <mat-icon>home</mat-icon>
                          Overview
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item routerLink="/profile/settings" routerLinkActive="list-item-active">
                          <mat-icon>settings</mat-icon>
                          Settings
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item routerLink="/profile/blank" routerLinkActive="list-item-active">
                          <mat-icon>content_paste</mat-icon>
                          Blank
                        </mat-list-item>
                      </mat-nav-list>
                    </div>
                  </mat-card>
    </div>
</div>

