<div fxLayout="row" fxLayoutWrap="wrap">
    <!--form input -->
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
        <mat-card class="p-0">
            <mat-card-content class="mt-1">
                <form  [formGroup]="basicForm">
                    <mat-form-field class="full-width">
                    <input
                    matInput
                    name="name"
                    placeholder="Name"
                    value="">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input
                        matInput
                        name="title"
                        placeholder="Title"
                        value="">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                    <input
                    matInput
                    name="email"
                    placeholder="Email"
                    value="">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                    <input
                    matInput
                    name="phone"
                    placeholder="Phone"
                    value="">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                    <input
                    matInput
                    name="address"
                    placeholder="Adresss"
                    value="">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                    <input
                    matInput
                    name="website"
                    placeholder="Website"
                    value="">
                    </mat-form-field>
                    <button mat-raised-button color="primary">Save</button>
                </form>
                </mat-card-content>
        </mat-card>
    </div>

    <!-- view currently card -->
    <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
        <mat-card class="profile-sidebar mb-1 pb-0">
            <div class="propic text-center">
                <img src="assets/images/sq-face-220.jpg" alt="">
            </div>
            <div class="profile-title text-center mb-1">
                <div class="main-title">Jhone <b>Doe</b></div>
                <div class="subtitle mb-05">Big Data Expert</div>
                <div class="text-muted">Hi I'm Jhone, sit amet consectetur adipisicing elit. Aperiam repellendus nam perspiciatis.</div>
            </div>
            <div class="profile-actions text-center mb-1">
                <button mat-raised-button color="primary">Message</button>
                <button mat-raised-button color="accent">Follow</button>
            </div>
            <div class="profile-nav">
                <mat-nav-list>
                <mat-list-item routerLink="/profile/overview" routerLinkActive="list-item-active">
                    <mat-icon>home</mat-icon>
                    Overview
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item routerLink="/profile/settings" routerLinkActive="list-item-active">
                    <mat-icon>settings</mat-icon>
                    Settings
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item routerLink="/profile/blank" routerLinkActive="list-item-active">
                    <mat-icon>content_paste</mat-icon>
                    Blank
                </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-card>
    </div>
</div>