<mat-card class="p-0">
  <mat-card-title class="m-0">
    <div class="card-title-text">Media gallery</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content class="p-0">
    <mat-grid-list cols="4"  class="fc-grid-list">
      <!-- Gallery item -->
      <mat-grid-tile *ngFor="let image of images" (click)="choice(image)">
        <img mat-card-image [src]="image.url" [alt]="image.title" class="fc-gallery">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
      