mat-card-title {
    background: #3f51b5;
    color: #fff;
}

.form-chip-list {
    margin-top : 30px!important;
}
.mat-bg-accent {
    background-color: #ffc107;
    color: black;
}

.form-error-msg{
    font-size : 2em;
}